* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

$color1: hsl(183, 100%, 15%);
$color2: hsl(186, 14%, 43%);
$color3: hsl(184, 14%, 56%);
$color4: hsl(185, 41%, 84%);
$color5: hsl(189, 41%, 97%);
$color6: hsl(172, 67%, 45%);

@mixin flexIt($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

@mixin inputStyle() {
	display: block;
	font-family: "Space Mono", monospace;
	font-size: 2.5rem;
	border: none;
	padding: 0.25rem 1rem;
	width: 100%;
	text-align: right;
	background-size: 1rem;
	background-repeat: no-repeat;
	background-position: 5% 50%;
	background-color: $color5;
	color: $color1;
	font-weight: bold;
	border-radius: 5px;
}

html {
	font-size: 10px;
	font-family: "Space Mono", monospace;
	background: hsl(185, 41%, 84%);
}

label {
	display: block;
	font-size: 1.5rem;
	text-transform: capitalize;
	font-weight: 700;
	color: $color2;
}

input {
	@include inputStyle();
}

button {
	font-family: "Space Mono", monospace;
	border: none;
	border-radius: 8px;
}

h1 {
	color: $color2;
	text-transform: uppercase;
	letter-spacing: 8px;
	margin: 3rem auto;
	text-align: center;
	font-size: 2.5rem;
}

main {
	background: white;
	padding: 3rem;
	border-radius: 2rem;
}

#inputSection {
	@include flexIt(column, center, center);
}
#billInputContainer {
	width: 100%;
	margin-bottom: 2rem;
	input {
		@include inputStyle();
		background-image: url(images/icon-dollar.svg);
	}
}
#tipPercentageContainer {
	p {
		font-size: 1.5rem;
		text-transform: capitalize;
		font-weight: 700;
		color: $color2;
		margin-bottom: 1.5rem;
	}
}

#tipPercentageBtns {
	@include flexIt(row, space-between, center);
	margin-bottom: 2rem;
	flex-wrap: wrap;
	.tipBtn {
		width: 48%;
		font-size: 2.5rem;
		margin-bottom: 1.5rem;
		padding: 0.5rem 0;
		background: $color1;
		color: #ffffff;
	}
	input {
		width: 48%;
		padding: 0.5rem 1rem 0.5rem 0;
		position: relative;
		bottom: 0.65rem;
		&::placeholder {
			color: $color2;
		}
	}
}

#numberOfPeopleContainer {
	label {
		margin-bottom: 0.5rem;
	}
	input {
		background-image: url(images/icon-person.svg);
	}
}

#outputSection {
	background: $color1;
	border-radius: 1.5rem;
	margin: 3rem 0 0 0;
	padding: 4rem 2rem 2rem 2rem;
	text-align: center;
	button {
		width: 95%;
		background: $color6;
		color: $color1;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1.75rem;
		padding: 1rem 0;
		border-radius: 5px;
	}
}

.outputInfo {
	@include flexIt(row, space-between, center);
	font-weight: bold;
	margin-bottom: 3rem;

	.leftLabel {
		color: #ffffff;
		font-size: 1.5rem;
	}
	.personP {
		font-size: 1.25rem;
		color: $color3;
	}
}

.op {
	color: $color6;
	font-size: 3rem;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
